.container{
    background-color:#f5f7fa;
    min-height: 100vh;
    max-width: 100vw;
    width: 100%;
}

.box-main{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.title{
    color: #333;
}
.text{
    color: #777
}
.produtos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  margin-top: 20px; 
  padding-bottom: 40px; 
}